extends layout

block content

    main
        .container
            h2= title
            p(class="result") No result yet
        ul(id="slide-out" class="side-nav fixed")
            ul(class="collapsible collapsible-accordion")
                li(class="bold")
                    a(class='collapsible-header waves-effect waves-teal active') Select a Level
                        i(class='material-icons') arrow_drop_down
                    div(class='collapsible-body')
                        ul(id='level-dropdown')

                            //a(base href="/create?level=" + level) #{level}
                li(class="bold")
                    a(class='collapsible-header waves-effect waves-teal') Select a Style
                        i(class='material-icons') arrow_drop_down
                    div(class='collapsible-body')
                        ul(id='categories-dropdown' class='collapsible collapsible-accordion')
                            each category, i in Object.keys(categories)
                                li(value=category class="bold category-dropdown" id=category)
                                    a(class='collapsible-header waves-effect waves-red') #{category}
                                        i(class='material-icons') arrow_drop_down
                                    div(class='collapsible-body')
                                        .row
                                            ul(id='dances-dropdown')
                                                each dance, i in (categories[category])
                                                    li(value=dance class="dance-button" id=dance)
                                                        a() #{dance}
                                                        //a(href= "?category=" + category + "&dance=" + dance) #{dance}
        a(href='#', data-activates="slide-out", class='button-collapse top-nav full hide-on-large-only')
            i.material-icons menu
    script.
        loadDanceCategories()
        // Initialize collapse button
        $(".button-collapse").sideNav();
        var selectedDance = {level: "Bronze", category: "Latin", dance: "Cha-Cha"}


        var result;
        $(".dance-button").on('click', '#level-button', function () {
            //alert("level button pushed");
            $(".dance-button").removeClass("active")
            $(this).toggleClass("active");
            selectedDance.category = $(this).closest("li.category-dropdown").attr('id');
            selectedDance.dance = this.id;
            console.log(selectedDance);
            fetchDanceData(selectedDance);
        });

        function loadDanceCategories() {
            $.getJSON("/api/dances", function (data) {
                /* Load Level Buttons First */
                levels = data.levels; //
                $.each(data.levels, function (key, val) {
                    $("#level-dropdown").append("<li id=" + val + " class='level-button'> <a>" + val + "</a></li>");
                });
                /* Add click listener for the level button */
                $(".level-button").on('click', function () {
                    //alert("level button pushed");
                    $(".level-button").removeClass("active")
                    $(this).toggleClass("active");
                    selectedDance.level = this.id;
                    console.log(selectedDance);
                    fetchDanceData(selectedDance);
                });
                let items;
                $.each(data.subcategories, function (key, val) {
                    items = [];
                    items.push("<li id='" + key + "'>" + val + "</li>");
                });

                /** Convert for dynamic load with jQuery
                                            each category, i in Object.keys(categories)
                                                 li(value=category class="bold category-dropdown" id=category)
                                                 a(class='collapsible-header waves-effect waves-red') #{category}
                                                         i(class='material-icons') arrow_drop_down
                                                     div(class='collapsible-body')
                                                         .row
                                                             ul(id='dances-dropdown')
                                                                 each dance, i in (categories[category])
                                                                     li(value=dance class="dance-button" id=dance)
                                                                         a() #{dance}
                                                                         //a(href= "?category=" + category + "&dance=" + dance) #{dance}
                 *
                 * */
                $("<ul/>", {
                    "class": "my-new-list",
                    html: items.join("")
                }).appendTo(".result");
            });
        }
        function fetchDanceData(selectedDance) {
            $.get("/api/dances", function (data) {
                $(".result").html(JSON.stringify(data));
            });
        }


    style.
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }