extends layout

block content
    script(src="create.js")
    main
        .container
            h2= title
            p(class="result") No result yet
            .row
                input(type="text" id="myInput" onkeyup="searchSteps()" placeholder="Search for steps..." class="col s6")
            .row
                ul(id="step-list" class="collection col s6 m6 l6")
                ul(id="selected-step-list" class="collection col s6 m6 l6")
        ul(id="slide-out" class="side-nav fixed")
            ul(class="collapsible collapsible-accordion")
                li(class="bold")
                    a(class='collapsible-header waves-effect waves-teal active') Select a Level
                        i(class='material-icons') arrow_drop_down
                    div(class='collapsible-body')
                        ul(id='level-dropdown')

                            //a(base href="/create?level=" + level) #{level}
                li(class="bold")
                    a(class='collapsible-header waves-effect waves-teal') Select a Style
                        i(class='material-icons') arrow_drop_down
                    div(class='collapsible-body')
                        ul(id='categories-dropdown' class='collapsible collapsible-accordion')
                            //each category, i in Object.keys(categories)
                                li(value=category class="bold category-dropdown" id=category)
                                    //a(class='collapsible-header waves-effect waves-red') #{category}
                                        i(class='material-icons') arrow_drop_down
                                    //div(class='collapsible-body')
                                        .row
                                            ul(id='dances-dropdown')
                                                each dance, i in (categories[category])
                                                    li(value=dance class="dance-button" id=dance)
                                                        a() #{dance}
                                                        //a(href= "?category=" + category + "&dance=" + dance) #{dance}
        a(href='#', data-activates="slide-out", class='button-collapse top-nav full hide-on-large-only')
            i.material-icons menu
    script.

        // Initialize collapse button
        $(".button-collapse").sideNav();


        var selectedDance = {level: "Bronze", category: "Latin", dance: "Cha-Cha"}
        loadDanceCategories();

        var list1 = document.getElementById("step-list");
        var list2 = document.getElementById("selected-step-list")
        var sortablePull = new Sortable(list1, {
            group: {name: "drag-list", pull: 'clone', put: false}
        })
        var sortablePut = new Sortable(list2, {
            group: {name: "drag-list", pull: false, put: true},
            filter: ".js-remove, .js-edit",
            onFilter: function (evt) {
                var item = evt.item,
                    ctrl = evt.target;

                if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
                    item.parentNode.removeChild(item); // remove sortable item
                }
                else if (Sortable.utils.is(ctrl, ".js-edit")) {  // Click on edit link
                    // ...
                }
            },
            onMove: function (evt) {

            }
        });

        function searchSteps() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("step-list");
            li = ul.getElementsByTagName('li');
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }


    style.

        ul li.active.dance-button { /* Style for the pink button on sidebar */
            background-color: #ee6e73 !important;
        }

        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }